.app {
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  padding-top: 45px; }

.app-inner {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px; }
  .app-inner .col {
    height: 100%; }

#header {
  background: #222;
  color: #fff;
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  text-align: left; }
  #header .list-inline {
    line-height: 15px;
    padding: 15px; }

#orb {
  animation: app-logo-spin infinite 10s linear;
  background: #61DAFB;
  background: -moz-linear-gradient(top, #61DAFB 0%, #2e6da4 100%);
  background: -webkit-linear-gradient(top, #61DAFB 0%, #2e6da4 100%);
  background: linear-gradient(to bottom, #61DAFB 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -40px;
  border: solid 5px #222;
  overflow: hidden;
  box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.75); }
  #orb:hover, #orb:focus, #orb:active {
    outline: 0; }

.spell-list {
  text-align: left;
  height: 100%;
  overflow-y: auto;
  border: solid 1px #ddd; }

.spell-item {
  display: block;
  padding: 15px 120px 15px 60px;
  position: relative;
  border-bottom: solid 1px #ddd; }
  .spell-item:first-child {
    border-top: solid 1px #ddd; }
  .spell-item.alt {
    background: #f5f5f5; }
  .spell-item::before {
    animation: app-logo-spin infinite 10s linear;
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ccc;
    background: #b8b8b8;
    background: -moz-linear-gradient(top, #b8b8b8 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #b8b8b8 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #b8b8b8 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(115, 115, 115, 0.85); }
  .spell-item.abjuration::before {
    background: #d84b3e;
    background: -moz-linear-gradient(top, #d84b3e 0%, #e68b82 100%);
    background: -webkit-linear-gradient(top, #d84b3e 0%, #e68b82 100%);
    background: linear-gradient(to bottom, #d84b3e 0%, #e68b82 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(117, 32, 24, 0.85); }
  .spell-item.conjuration::before {
    background: #eca127;
    background: -moz-linear-gradient(top, #eca127 0%, #f2c171 100%);
    background: -webkit-linear-gradient(top, #eca127 0%, #f2c171 100%);
    background: linear-gradient(to bottom, #eca127 0%, #f2c171 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(125, 82, 11, 0.85); }
  .spell-item.divination::before {
    background: #8c4297;
    background: -moz-linear-gradient(top, #8c4297 0%, #b46cbe 100%);
    background: -webkit-linear-gradient(top, #8c4297 0%, #b46cbe 100%);
    background: linear-gradient(to bottom, #8c4297 0%, #b46cbe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(51, 24, 55, 0.85); }
  .spell-item.enchantment::before {
    background: #0e5e97;
    background: -moz-linear-gradient(top, #0e5e97 0%, #148ce1 100%);
    background: -webkit-linear-gradient(top, #0e5e97 0%, #148ce1 100%);
    background: linear-gradient(to bottom, #0e5e97 0%, #148ce1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(2, 15, 24, 0.85); }
  .spell-item.evocation::before {
    background: #d92e57;
    background: -moz-linear-gradient(top, #d92e57 0%, #e5728f 100%);
    background: -webkit-linear-gradient(top, #d92e57 0%, #e5728f 100%);
    background: linear-gradient(to bottom, #d92e57 0%, #e5728f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(105, 19, 40, 0.85); }
  .spell-item.illusion::before {
    background: #51b0b7;
    background: -moz-linear-gradient(top, #51b0b7 0%, #8bcacf 100%);
    background: -webkit-linear-gradient(top, #51b0b7 0%, #8bcacf 100%);
    background: linear-gradient(to bottom, #51b0b7 0%, #8bcacf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(37, 86, 89, 0.85); }
  .spell-item.necromancy::before {
    background: #363558;
    background: -moz-linear-gradient(top, #363558 0%, #54538c 100%);
    background: -webkit-linear-gradient(top, #363558 0%, #54538c 100%);
    background: linear-gradient(to bottom, #363558 0%, #54538c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(1, 1, 2, 0.85); }
  .spell-item.transmutation::before {
    background: #076b33;
    background: -moz-linear-gradient(top, #076b33 0%, #0bb759 100%);
    background: -webkit-linear-gradient(top, #076b33 0%, #0bb759 100%);
    background: linear-gradient(to bottom, #076b33 0%, #0bb759 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 );
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.85); }
  .spell-item button {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-left: 16px; }

.details-well {
  height: 100%;
  overflow: hidden;
  padding: 0; }

.spell-details {
  text-align: left;
  max-height: 100%;
  overflow-y: auto;
  padding: 15px 30px 30px 30px; }
  .spell-details .list-inline .pipe {
    color: #ddd; }
  .spell-details h2 {
    margin-bottom: 30px;
    vertical-align: middle; }
  .spell-details .icon {
    display: inline-block;
    height: 40px;
    margin-right: 0px; }
    .spell-details .icon img {
      height: 100%; }

.btn-row {
  text-align: right;
  border: 0;
  margin-bottom: 15px; }

.spell-list-wrap {
  padding-top: 90px;
  position: relative; }
  .spell-list-wrap .spell-filters {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    text-align: left; }
@media(min-width: 767px) {
  .spell-list-wrap {
    border-right: solid 1px #eee; } }
#search-form {
  margin-bottom: 8px; }
  #search-form .form-group {
    width: 100%;
    position: relative; }
  #search-form input {
    padding: 8px 15px;
    height: auto;
    display: block;
    width: 100%;
    max-width: auto; }
  #search-form .btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }

.search-form-wrap {
  position: relative; }
  .search-form-wrap .search-form-buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }

.app-logo {
  animation: app-logo-spin infinite 10s linear; }

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.double-bounce1,
.double-bounce2,
.double-bounce3,
.double-bounce4 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #61DAFB;
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 8s infinite ease-in-out;
  animation: sk-bounce 8s infinite ease-in-out;
  box-shadow: 0 0 20px rgba(97, 218, 251, 0.75); }

.double-bounce2 {
  -webkit-animation-delay: -4s;
  animation-delay: -4s; }

.double-bounce3 {
  -webkit-animation-delay: -2s;
  animation-delay: -2s; }

.double-bounce3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=App.css.map */
