// Transition Mixins
=transition($prop)
  -webkit-transition: $prop 0.3s ease-out
  -moz-transition: $prop 0.3s ease-out
  -ms-transition: $prop 0.3s ease-out
  -o-transition: $prop 0.3s ease-out
  transition: $prop 0.3s ease-out

=transition-2($prop-a, $prop-b)
  -webkit-transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out
  -moz-transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out
  -ms-transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out
  -o-transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out
  transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out

=transition-3($prop-a, $prop-b, $prop-c)
  -webkit-transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out, $prop-c 0.3s ease-out
  -moz-transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out, $prop-c 0.3s ease-out
  -ms-transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out, $prop-c 0.3s ease-out
  -o-transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out, $prop-c 0.3s ease-out
  transition: $prop-a 0.3s ease-out, $prop-b 0.3s ease-out, $prop-c 0.3s ease-out

// Transform Mixins
=tansform-translate($x, $y)
  -webkit-transition: translate($x, $y)
  -moz-transition: translate($x, $y)
  -ms-transition: translate($x, $y)
  -o-transform: translate($x, $y)
  transform: translate($x, $y)

=tansform-rotate($deg)
  -webkit-transform: rotate($deg)
  -moz-transform: rotate($deg)
  -ms-transform: rotate($deg)
  -o-transform: rotate($deg)
  transform: rotate($deg)

=tansform-scale($w, $h)
  -webkit-transform: scale($w, $h)
  -moz-transform: scale($w, $h)
  -ms-transform: scale($w, $h)
  -o-transform: scale($w, $h)
  transform: scale($w, $h)


=grad-bg($clr-a, $clr-b)
  background: $clr-a
  background: -moz-linear-gradient(top, $clr-a 0%, $clr-b 100%)
  background: -webkit-linear-gradient(top, $clr-a 0%, $clr-b 100%)
  background: linear-gradient(to bottom, $clr-a 0%, $clr-b 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=0 )

////////////////////////////////////////
// General
////////////////////////////////////////
.app
  position: relative
  text-align: center
  height: 100vh
  overflow: hidden
  padding-top: 45px

.app-inner
  height: 100%
  padding-top: 30px
  padding-bottom: 30px
  .col
    height: 100%

////////////////////////////////////////
// Header
////////////////////////////////////////
#header
  background: #222
  color: #fff
  position: absolute
  z-index: 900
  top: 0
  left: 0
  width: 100%
  height: 45px
  text-align: left
  .list-inline
    line-height: 15px
    padding: 15px

#orb
  animation: app-logo-spin infinite 10s linear
  +grad-bg(#61DAFB, #2e6da4)
  width: 80px
  height: 80px
  border-radius: 100%
  position: absolute
  top: -20px
  left: 50%
  margin-left: -40px
  border: solid 5px #222
  overflow: hidden
  box-shadow: inset 0px 0px 24px transparentize(#000, 0.25)
  &:hover,
  &:focus,
  &:active
    outline: 0

////////////////////////////////////////
// Spell List
////////////////////////////////////////
.spell-list
  text-align: left
  height: 100%
  overflow-y: auto
  border: solid 1px #ddd

// Abjuration (Orange)
$clr-abjuration: #df6b60
// Conjuration (Yellow)
$clr-conjuration: #efb14c
// Divination (Light Purple)
$clr-divination: #a550b2
// Enchantment (Dark Blue)
$clr-enchantment: #1175bc
// Evocation (Red)
$clr-evocation: #df5073
// Illusion (Light Blue)
$clr-illusion: #6ebdc3
// Necromancy (Dark Purple)
$clr-necromancy: #454472
// Transmutation (Green)
$clr-transmutation: #099146

.spell-item
  display: block
  padding: 15px 120px 15px 60px
  position: relative
  border-bottom: solid 1px #ddd
  &:first-child
    border-top: solid 1px #ddd
  &.alt
    background: #f5f5f5
  &::before
    animation: app-logo-spin infinite 10s linear
    content: ''
    display: block
    position: absolute
    top: 15px
    left: 15px
    width: 30px
    height: 30px
    border-radius: 100%
    background-color: #ccc
  &.abjuration
    &::before
      // background-color: $clr-abjuration
      +grad-bg(darken($clr-abjuration, 8%), lighten($clr-abjuration, 8%))
      box-shadow: inset 0px 0px 10px transparentize(darken($clr-abjuration, 35%), 0.15)
  &.conjuration
    &::before
      // background-color: $clr-conjuration
      +grad-bg(darken($clr-conjuration, 8%), lighten($clr-conjuration, 8%))
      box-shadow: inset 0px 0px 10px transparentize(darken($clr-conjuration, 35%), 0.15)
  &.divination
    &::before
      // background-color: $clr-divination
      +grad-bg(darken($clr-divination, 8%), lighten($clr-divination, 8%))
      box-shadow: inset 0px 0px 10px transparentize(darken($clr-divination, 35%), 0.15)
  &.enchantment
    &::before
      // background-color: $clr-enchantment
      +grad-bg(darken($clr-enchantment, 8%), lighten($clr-enchantment, 8%))
      box-shadow: inset 0px 0px 10px transparentize(darken($clr-enchantment, 35%), 0.15)
  &.evocation
    &::before
      // background-color: $clr-evocation
      +grad-bg(darken($clr-evocation, 8%), lighten($clr-evocation, 8%))
      box-shadow: inset 0px 0px 10px transparentize(darken($clr-evocation, 35%), 0.15)
  &.illusion
    &::before
      // background-color: $clr-illusion
      +grad-bg(darken($clr-illusion, 8%), lighten($clr-illusion, 8%))
      box-shadow: inset 0px 0px 10px transparentize(darken($clr-illusion, 35%), 0.15)
  &.necromancy
    &::before
      // background-color: $clr-necromancy
      +grad-bg(darken($clr-necromancy, 8%), lighten($clr-necromancy, 8%))
      box-shadow: inset 0px 0px 10px transparentize(darken($clr-necromancy, 35%), 0.15)
  &.transmutation
    &::before
      // background-color: $clr-transmutation
      +grad-bg(darken($clr-transmutation, 8%), lighten($clr-transmutation, 8%))
      box-shadow: inset 0px 0px 10px transparentize(darken($clr-transmutation, 35%), 0.15)
  button
    position: absolute
    top: 15px
    right: 15px
    margin-left: 16px





////////////////////////////////////////
// Spell Details
////////////////////////////////////////
.details-well
  height: 100%
  overflow: hidden
  padding: 0

.spell-details
  text-align: left
  max-height: 100%
  overflow-y: auto
  padding:  15px 30px 30px 30px
  .list-inline
    .pipe
      color: #ddd
  h2
    margin-bottom: 30px
    vertical-align: middle
  .icon
    display: inline-block
    height: 40px
    margin-right: 0px
    img
      height: 100%

.btn-row
  text-align: right
  border: 0
  margin-bottom: 15px

////////////////////////////////////////
// Spell Filters
////////////////////////////////////////
.spell-list-wrap
  padding-top: 90px
  position: relative
  .spell-filters
    position: absolute
    z-index: 100
    top: 0
    left: 0
    width: 100%
    height: 60px
    padding: 0 15px
    text-align: left
  @media(min-width: 767px)
    border-right: solid 1px #eee

#search-form
  margin-bottom: 8px
  .form-group
    width: 100%
    position: relative
  input
    padding: 8px 15px
    height: auto
    display: block
    width: 100%
    max-width: auto
  .btn
    position: absolute
    top: 0
    right: 0
    height: 100%

.search-form-wrap
  position: relative
  .search-form-buttons
    position: absolute
    top: 0
    right: 0
    height: 100%

////////////////////////////////////////
// Icon Animation
////////////////////////////////////////
.app-logo
  animation: app-logo-spin infinite 10s linear

@keyframes app-logo-spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.double-bounce1,
.double-bounce2,
.double-bounce3,
.double-bounce4
  width: 100%
  height: 100%
  border-radius: 50%
  background-color: #61DAFB
  opacity: 0.15
  position: absolute
  top: 0
  left: 0
  -webkit-animation: sk-bounce 8.0s infinite ease-in-out
  animation: sk-bounce 8.0s infinite ease-in-out
  box-shadow: 0 0 20px transparentize(#61DAFB, 0.25)

.double-bounce2
  -webkit-animation-delay: -4.0s
  animation-delay: -4.0s

.double-bounce3
  -webkit-animation-delay: -2.0s
  animation-delay: -2.0s

.double-bounce3
  -webkit-animation-delay: -1.0s
  animation-delay: -1.0s

@-webkit-keyframes sk-bounce
  0%, 100%
    -webkit-transform: scale(0.0)
  50%
    webkit-transform: scale(1.0)

@keyframes sk-bounce
  0%, 100%
    transform: scale(0.0)
    -webkit-transform: scale(0.0)
  50%
    transform: scale(1.0)
    -webkit-transform: scale(1.0)
